.logo
{
    justify-content: left;
    max-height: 100px;
    align-self: baseline;
}

.container-header
{
    background-color: white;
    padding: 20px;
}

#titulo-logo
{
    font-size: 40px;
    padding: 10px;
    float: left;
    font-family: Arial, Helvetica, sans-serif;
}

.container-main
{
    background-color: #c9c9c9;
    padding: 30px;
}

.container-main > div > div > h1
{
  text-align: center;
}

#dinamicaJS > h1 {
    text-align: center;
}

#dinamicaJS > #quiz {
    text-indent: 10px;
    display:none;
}

#dinamicaJS > .button {
    border:4px solid;
    border-radius:5px;
    width: 70px;
    padding-left:5px;
    padding-right: 5px;
    position: relative;
    float:right;
    background-color: #DCDCDC;
    color: black;
    margin: 0 2px 0 2px;
}

#dinamicaJS > .button.active {
    background-color: #F8F8FF;
    color: #525252;
}

#dinamicaJS > button {
    position: relative;
    float:right;
}

#dinamicaJS > .button a {
    text-decoration: none;
    color: black;
}

#dinamicaJS > #container {
    width:50%;
    margin:auto;
    padding: 0 25px 40px 10px;
    background-color: #ffffff;
    border:4px solid #B0E0E6;
    border-radius:5px;
    color: #000000;
    font-weight: bold;
    box-shadow: 5px 5px 5px #888;
}

#dinamicaJS > ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#dinamicaJS > #prev {
    display:none;
}

#dinamicaJS > #start {
    display:none;
    width: 90px;
}

.container-footer
{
    background-color:#ff3224;
    color: white;
    padding: 20px;
    text-align-last: center;
}

#dados-cliente
{
    text-align:center;
}

*{
    margin: 0;
    padding:0;
    box-sizing:border-box border-box;
}

#items-wrapper{
    width: 50vw;
}
iframe{
    width: 100%;
    height: 100%;
}
#items{
    display: flex;
    overflow-x: auto;
    scroll-snap-type: X mandatory;
    -webkit-overflow-scrolling: touch;

}
.item{
    flex: none;
    width: 100%;
    height: 400px;
    scroll-snap-align: start;
    pointer-events: none;
}

.card{
    border:none;
    position:relative;
    overflow:hidden;
    border-radius:8px;
    cursor:pointer;
}

.card:before{
    
    content:"";
    position:absolute;
    left:0;
    top:0;
    width:4px;
    height:100%;
    background-color:#fd837a;
    transform:scaleY(1);
    transition:all 0.5s;
    transform-origin: bottom
}

.card:after{
    
    content:"";
    position:absolute;
    left:0;
    top:0;
    width:4px;
    height:100%;
    background-color:#ff3224;
    transform:scaleY(0);
    transition:all 0.5s;
    transform-origin: bottom
}

.card:hover::after{
    transform:scaleY(1);
}


.fonts{
    font-size:11px;
}

.social-list{
    display:flex;
    list-style:none;
    justify-content:center;
    padding:0;
}

.social-list li{
    padding:10px;
    color:#ff3224;
    font-size:19px;
}


.buttons button:nth-child(1){
       border:1px solid #ff3224 !important;
       color:#ff3224;
       height:40px;
}

.buttons button:nth-child(1){
       border:1px solid #ff3224 !important;
       background-color:#ff3224;
       color:#fff;
        height:40px;
}

a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}

@media (max-width: 1200px)
{
  #titulo-logo
   {
    display: none;
   }
}