.logo
{
    justify-content: left;
    max-height: 100px;
}

.container-header
{
    background-color: white;
    padding: 20px;
}

#titulo-logo
{
    font-size: 40px;
    padding: 10px;
}

.container-main
{
    background-color: #c9c9c9;
    padding: 30px;
}

.container-main > div > div > h1
{
  text-align: center;
}

.container-footer
{
    background-color:#ff3224;
    color: white;
    padding: 20px;
    text-align-last: center;
}

#dados-cliente
{
    text-align:center;
}

*{
    margin: 0;
    padding:0;
    box-sizing:border-box border-box;
}

#items-wrapper{
    width: 50vw;
}
iframe{
    width: 100%;
    height: 100%;
}
#items{
    display: flex;
    overflow-x: auto;
    scroll-snap-type: X mandatory;
    -webkit-overflow-scrolling: touch;

}
.item{
    flex: none;
    width: 100%;
    height: 400px;
    scroll-snap-align: start;
    pointer-events: none;
}

@media (max-width: 1200px)
{
  #titulo-logo
   {
    display: none;
   }
}